.section-customers {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.customers {
  margin-top: 0px;
  color: #212121;
  font-weight: bold;
  text-align: center;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.customers-list {
  padding-left: 0px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  & .item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }
  }

  & .item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
}

.customers-list .item a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition: border $duration $timihg-function;

  @media screen and (min-width: 768px) {
    width: 226px;
  }
}

.client-icon {
  fill: #afb1b8;

  transition: fill $duration $timihg-function;
}

.customers-list .item a:hover,
.customers-list .item a:focus {
  border-color: $accent-color;
}

.customers-list .item a:hover .client-icon,
.customers-list .item a:focus .client-icon {
  fill: $accent-color;
}
