.section-team {
  background: #f5f4fa;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.team-title {
  margin-top: 0;

  color: $title-text-color;

  font-weight: bold;

  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.team-list {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 1199px) {
    & .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team-list > .item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.card {
  width: 354px;
  height: 260px;

  background: $primary-background-color;
  box-shadow: $main-shadow;

  border-radius: 0px 0px 4px 4px;
}

.team-list > .item .team-image {
  width: 100%;
}
